@import '../../global-styles.scss';

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    background-color: $dark-blue;
    font-family: $font-montserrat;
    // font-weight: bold;
    font-size: 20px;
    
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }

    a {
        text-decoration: none;
        color: $white;
    }
}