@import '../../global-styles.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    background-color: $dark-blue;
    font-family: $font-lato;
    font-size: 20px;

    a {
        text-decoration: none;
        color: $white;
    }
}
nav {
    font-size: 18px;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    li {
        padding-left: 14px;
    }
}